:root {
    --bar-color: rgb(0, 102, 255);
    --bg-color: rgb(28, 30, 31);
    --border-bottom-color: rgb(0, 255, 255);

    --gun-card-bg-color: rgb(255, 255, 255);
    --gun-footer-bg-color: rgb(228, 228, 228);

    --op-card-bg-color: rgb(42, 43, 48);
    --op-footer-bg-color: rgb(211, 211, 211);
    --op-highlighted-bg-color: rgb(0, 183, 255);

    --output-card-bg-color: rgb(33, 33, 37);
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
	background-color: rgb(18, 19, 20) !important;
    background-image: url('resources/background.jpg');
	color: rgb(235, 235, 235) !important;
}

html {
    overflow: scroll !important;
    min-height: 100%;
}


html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .link-list, .site-btn {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 2px solid grey;
}

h3 {
    font-size: 1.75rem;
	padding-top: 1rem;
}

h4 {
    font-size: 1.25rem;
	padding-top: 1rem;
}

h5 {
    font-size: 1.05rem;
    padding-top: 1rem;
}

h3 > a,
h4 > a {
    color: white;
    text-decoration: none;

    transition: color 200ms ease-in-out;
}

h3 > a:hover,
h4 > a:hover {
    color: rgb(0, 140, 255);
}

/**** HOMEPAGE ****/
.banner {
    opacity: 0;

    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 250ms;
    animation-fill-mode: forwards;

    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.link-card {
    height: 3rem;
    width: fit-content;
    margin: auto;
}

.link-list {
    margin: auto !important;
    padding: 0 10px !important;
    opacity: 0;
    
    animation: fadeIn 1s ease-in-out 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.btn-item {
    display: flex;
    text-align: center !important;
    border-radius: 0px;

    height: 5rem;
    min-width: 18rem;
    margin-bottom: 2rem;

    border-bottom: 5px solid transparent !important;
    font-size: 1.3rem;
   
    transition: border-bottom 0.25s cubic-bezier(0, 0, 0.7, 1),
                font-size 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.btn-item:hover {
    border-bottom: 5px solid var(--border-bottom-color) !important;
}

.btn-item:hover > .btn-link {
    transform: scale(1.1);
}

.btn-link {
    font-size: 1.4rem;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    color: rgb(59, 59, 59);

    transform: scale(1);

    transition: transform 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.btn-link:hover {
    color: rgb(59, 59, 59);
}

.title-card {
    font-size: 5vw;
    padding-top: 10rem;
    padding-bottom: 10px;
}

/**** ROULETTE SITES ****/
@media (min-width: 992px) {
    .sidebar {position: sticky;
        top: 5rem;
        display: flex !important;
        height: calc(100vh - 17rem);
        padding-left: 0.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
    }
}

.my-sidebar {
    height: auto;
    width: 100%;
    padding: 15px;
}

.conditions {
	padding: 10px;
	text-align: center;
}

.form-check-input[type="checkbox"], .form-check-input[type="checkbox"]:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-width='2' d='M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z'/%3e%3c/svg%3e");
}

.form-check-input:checked[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-width='2' d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z'/%3e%3c/svg%3e");
}

.form-check-input {
    background-color: rgb(255, 89, 60);
    border-color: rgb(255, 89, 60);
}

.form-check-input:checked {
    background-color: rgb(0, 233, 221);
    border-color: rgb(0, 233, 221);
}

.no-match {
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.roulette-card {
    min-height: 700px !important;
}

.gun-roulette-card {
    height: fit-content !important;
    padding: 15px;
}

.gun-output-card {
    height: fit-content !important;
    padding: 15px;
}

/**** OPS & GUNS PAGES ****/
.square {
    padding: 0.5rem;
    border-radius: 0;

    min-width: 100px;
    height: 50px;
    background-color: rgb(212, 212, 212);
}

.rect {
    padding: 0.5rem;
    border-radius: 0;

    height: 50px;
    min-width: 100px;
    background-color: rgb(212, 212, 212);
}

.rect:hover > .img-svg,
.square:hover > .img-svg {
    transform: scale(1.1);
}

.img-svg {
    height: 100%;
    transform: scale(1);

    transition: transform 250ms ease-in-out;
}

.nav-arrows {
    position: fixed !important;
    bottom: 5%;
    left: 3%;
}

.card-col {
    width: 12.5%;
    padding: 5px;
}

.card-button {
    width: 100%;
    padding: 0;
}

.op-card {
    margin: 0;
    border-radius: 0 !important;
    background-color: var(--op-card-bg-color);
}

.op-clicked,
.op-highlighted {
    background-color: var(--op-highlighted-bg-color) !important;
}

.op-footer {
    background-color: var(--op-footer-bg-color);
    padding: 0;

    transition: background-color 250ms linear;
}

.op-img {
    width: 10rem;
    height: 10rem;
}

.desc-row {
    background-color: var(--bg-color);
    transform: scaley(0);
    
    transition: transform 250ms ease-in-out;
}

.visible {
    transform: scaley(1);
}

.op-title {
    font-size: 100%;
    padding: 5px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    color: black;
}

.gun-img-lg {
    padding-top: 10px;
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-width: 12rem;
    max-height: 6rem;
}

/**** SVG CHARTS ****/
.bar {
    fill: var(--bar-color);
}

.bar-blank {
    fill: white;
}

.my-svg {
    width: 450px;
    height: 50px;
}

/**** GENERAL ****/
/* CLASSES */
.border-highlighted {
    border-bottom: 5px solid var(--border-bottom-color) !important;
}

.border-highlight {
    border-radius: 0px !important;
    border-bottom: 5px inset transparent !important;

    transition: border-bottom 0.25s cubic-bezier(0, 0, 0.7, 1);
}

.border-highlight:hover {
    border-bottom: 5px solid var(--border-bottom-color) !important;
}

.btn {
    border-width: 0px !important; /* override an annoying pixel problem */
}

.site-btn {
    margin: 5px;
    border: none;
    border-radius: 0px !important;
    padding: 10px;
    background-color:rgb(0, 179, 233);
    color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dark-item {
    background-color: transparent !important;
    color: white;
}

.front {
    position: relative;
    z-index: 1 !important;
}

.gadget-img {
    padding-top: 10px;
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-height: 4rem;
}

.gradient {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(212, 212, 212) 85%, rgb(212, 212, 212) 85%);
    z-index: 1;
}

.gradient::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(212, 212, 212) 50%, rgb(0, 217, 255) 85%);
    z-index: -1;

    transition: opacity 0.25s linear;
    opacity: 0;
}

.gradient:hover::before {
    opacity: 1;
}

.gradient-transparent {
    position: relative;
    background-image: linear-gradient(to bottom, transparent 95%, transparent 100%);
    z-index: 1;
}

.gradient-transparent::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 255, 255, 0.733) 90%);
    z-index: -1;

    transition: opacity 0.25s linear;
    opacity: 0;
}

.gradient-transparent:hover::before {
    opacity: 1;
}

.gun-card {
    background-color: transparent;
    width: fit-content;
}

.gun-img {
    padding-top: 10px;
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-width: 10rem;
    max-height: 5rem;
}

.gun-title {
    font-size: 100%;
    padding: 5px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    color: white;
}

.my-bg-dark {
    background-color: rgb(21, 22, 22);
}

.output-card {
	background-color: var(--output-card-bg-color) !important;
	color: white;
	border: 1px solid rgb(134, 134, 134);
	border-radius: 15px;
    height: 720px;

    margin: 5px;
}

.output-op-div {
    position: fixed;
    width: 100%;
    height: 720px;
    overflow: hidden;
}

.output-op-img {
    position: relative;
    left: 40%;
    height: 1200px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0,0,0,0) 65%);
}

.output-op-img-sm {
    position: relative;
    left: 15%;
    height: 1000px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0,0,0,0) 75%);
}

.my-header {
    width: 100%;
	padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1.5px solid grey;
}

.my-span {
	padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1.5px solid grey;
}

.nav-item,
.navbar-brand {
    padding: auto 2rem auto 2rem;
}

.no-border {
    border: none !important;
}

.no-radius {
    border-radius: 0 !important;
}

.no-show-link {
    text-decoration: none !important;
}

.no-bg {
    background-color: transparent !important;
}

.invert {
    filter: invert(1);
}

/* IDs */
#main-content {
	padding: 15px;
    background-color: rgb(28, 30, 31);
    margin: auto;
    flex: 1 0 auto;
}

/* KEYFRAMES */
@keyframes fadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/**** MOBILE CHANGES ****/
@media screen and (max-width: 1400px) {}
